.URLCard {
  width: 85%;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.URLCard .url-text-field.long-url {
  width: 85%;
}

.URLCard .url-text-field.short-url {
  width: 40%;
}

.URLCard .cta-btn {
  margin-left: 8px;
}
