.App-header {
  font-size: calc(10px + 2vmin);
  margin-bottom: 24px;
  padding: 12px 24px;
  background-color: #282c34;
  color: #fff;
}

.url-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 24px auto;
}

.long-url-text-field {
  width: 85%;
}

.short-url-text-field {
  width: 30%;
}

.url-details button {
  margin-left: 8px;
}
